{
  "presets": [
    ["env", {
      "targets": {
        "node": 4
      },
      "exclude": [
        "transform-es2015-classes",
        "transform-regenerator"
      ]
    }]
  ],
  "plugins": [
    "transform-promise-to-bluebird",
    "transform-decorators-legacy",
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-export-extensions",
    "transform-flow-comments"
  ]
}
