{
  "extends": "airbnb-base",
  "parser": "babel-eslint",

  "rules": {
    "comma-dangle": [2, "never"],
    // Conflicts with `_id` property names from MongoDB
    "no-underscore-dangle": "off"
  }
}
