{
  "server": {
    "port": 8080
  },
  "mongo": {
    "host": "localhost",
    "port": 27017,
    "options": {
      "db": { "native_parser": true },
      "server": {
        "poolSize": 5,
        "socketOptions": { "keepAlive": 1 }
      },
      "user": null,
      "pass": null
    }
  },
  "redis": {
    "host": "localhost",
    "port": 6379,
    "options": {
      "db": 0,
      "enableReadyCheck": true
    }
  },
  "cert": "YOUR_CERT_HERE",
  "keys": {
    "youtube": "YOUR_API_KEY_HERE",
    "soundcloud": "YOUR_API_KEY_HERE"
  }
}
