name: CI

on: [push, pull_request]

jobs:
  lint:
    name: Code style
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2
      - name: Install Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 14.x
      - name: Install dependencies
        run: npm install
      - name: Check code style
        run: npm run test:lint
  test:
    name: Tests
    strategy:
      matrix:
        node-version: [12.x, 14.x, 15.x]
    runs-on: ubuntu-latest
    services:
      redis:
        image: redis:6
        ports: ['6379:6379']
      mongodb:
        image: mongo:4.2-bionic
        ports: ['27017:27017']
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2
      - name: Install Node.js ${{matrix.node-version}}
        uses: actions/setup-node@v2
        with:
          node-version: ${{matrix.node-version}}
      - name: Install dependencies
        run: npm install
      - name: Run tests
        run: npm run test:mocha
        env:
          REDIS_URL: '127.0.0.1:6379'
          MONGODB_HOST: '127.0.0.1:27017'
